header{
    padding: 10px 4px;
    background:linear-gradient(blanchedalmond,black);
    
 }
header h1{
   font-family:fantasy;
   text-align: center;
   color:#FAD6A5;
}
 .contenedor{
    text-align: center;
    padding:100px;
    vertical-align: top;
    background:url(imagen1.jpg);
    
 }
#EntradaTexto{
 padding-bottom: 25%;
 width: auto;
 padding:100px;
 border: 4px solid #ccc;
 background-color: #f2f2f2;

}
   
 
 #SalidaTexto{
 padding-bottom: 25%;
 width: auto;
 padding:100px;
 border: 4px solid #ccc;
 background-color: #f2f2f2;
 }
 
 
 footer{
  height: 50px;
   text-align: center;
   padding:100px;
   background-color: #FAD6A5;
   
 }
footer p{
  position: absolute;
  text-align: center;
  right: 1%;
  left: 8%;
  font-size: 12px;
  font-weight: bold;
}

 button{
   background: #03bb85;
    border-color:none;
    border-radius: 6px;
    font-family: cursive;
    font-size: large;
   margin: 10px;
    
}
button:hover{
  background: rgb(3, 172, 172);
  transform:scale(1.2);
   
}
img{
  width:100px;
  height: 40px;
}
footer .pie{
  font-weight: bold;
  background-color:#FAD6A5;
}